* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #eee;
  background: #333;
}

h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.3em;
}

p {
  margin: 0.5em 0;
  text-align: justify;
}

a {
  text-decoration: none;
  color: #8cc;
  &:hover {
    color: #9ee;
    text-decoration: underline;
  }
}
